body {
 font-family: 'Noto Sans JP', sans-serif;
}

.container {
 max-width: 1200px;
 margin: 0 auto;
}

.photo-frame-left {
    height:100%;
    overflow: hidden;
}

.photo-frame-left img {
    width: 100%;
    height:97.5%;
    object-fit: cover;
    display: block;
}

.photo-frame-right {
    height:100%;
    overflow: hidden;
}

.photo-frame-right img {
    width: 100%;
    height:95%;
    object-fit: cover;
    display: block;
}

#intentionalSpace {
  border-top: 1px solid lightgrey;
  color: transparent;
}

.tab-space {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid lightgrey;
}

.nav-underline .nav-link.active {
    border-bottom-color: green;
    border-bottom-width: 3px;
}

.nav-underline .nav-link:hover {
    border-bottom-color: green;
    border-bottom-width: 3px;
}

.nav-item {
    padding:0 20px;
}

.bi-map,
.bi-phone,
.bi-currency-yen {
    color: green;
}

.currentSituation {
    color: green;
    background-color: rgb(245, 248, 244);
    padding: 10px;
    font-weight: bold;

}
